---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PHOTOS } from "@consts";
// import images from "./photos.json";
import axios from "axios";
import { string } from "astro:schema";

const get_url = (page: number) =>
  `https://api.unsplash.com/users/focusbreathing/photos?client_id=${process.env.UNSPLASH_CLIENT_ID}&page=${page}`;

async function fetchPhotos(page: number) {
  try {
    const response = await axios.get(get_url(page), {
      timeout: 5000, // Optional: Set a timeout for the request
    });

    return { data: response.data, headers: response.headers };
  } catch (error) {
    console.error(
      "Error fetching photos:",
      error.response,
      error.message,
      error.headers,
    );

    return { data: [], headers: {} }; // Return a safe fallback
  }
}

const { data, headers } = await fetchPhotos(1);

let images = data;
const pages = Math.ceil(
  Number(headers["x-total"]) / Number(headers["x-per-page"]),
);

for (let i = 2; i < pages; i++) {
  // for (let i = 2; i < 3; i++) {

  images = images.concat((await fetchPhotos(i)).data);
}

if (images.length === 0) {
  images = data;
}
---

<Layout title={PHOTOS.TITLE} description={PHOTOS.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="space-y-4">
          <div class="flex flex-wrap justify-center gap-2">
            {
              images.map((photo) => (
                <a
                  class="animate relative block overflow-hidden hover:z-10 hover:scale-125 hover:shadow-lg"
                  href={photo.links.html}
                  target="_blank"
                >
                  <Image
                    class="h-full object-cover"
                    src={photo.urls.small}
                    alt={photo.id}
                    width={photo.width * 0.05}
                    height={photo.height * 0.05}
                  />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </aside>
  </Container>
</Layout>
